<h2 mat-dialog-title>
    <mat-icon class="mr-2 text-indigo-600">person_add</mat-icon>
     Registrar Nuevo Usuario
</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
    <div class="row-fields">
        <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input matInput formControlName="nombre" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Apellido*</mat-label>
        <input matInput formControlName="apellido" required />
        </mat-form-field>
    </div>

    <div class="row-fields full-width">
        <mat-form-field appearance="outline">
        <mat-label>Email*</mat-label>
        <input matInput formControlName="email" type="email" required />    
        </mat-form-field>
    </div>

    <div class="row-fields full-width">
        <mat-form-field appearance="outline">
        <mat-label>Contraseña*</mat-label>
        <input matInput formControlName="password" type="password" required />
        </mat-form-field>
    </div>

    <div class="row-fields">
        <mat-form-field appearance="outline">
        <mat-label>DNI*</mat-label>
        <input matInput formControlName="dni" type="number" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Legajo*</mat-label>
        <input matInput type="text" [formControlName]="'legajo'" />
        </mat-form-field>
    </div>

    <div class="row-fields">
        <mat-form-field appearance="outline">
        <mat-label>Sector*</mat-label>
        <mat-select formControlName="idSector" required>
        @for (sector of (sectores$ | async); track sector.idSector) {
            <mat-option [value]="sector.idSector">{{ sector.nombre }}</mat-option>
        }
        </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Cargo*</mat-label>
        <mat-select formControlName="idCargo" required>
         @for (cargo of (cargos$ | async); track cargo.idCargo) {
            <mat-option [value]="cargo.idCargo">{{ cargo.nombre }}</mat-option>
         }
        </mat-select>
        </mat-form-field>
    </div>

    <div class="row-fields">
        <mat-form-field appearance="outline">
        <mat-label>Rol*</mat-label>
        <mat-select formControlName="idRol" required>
            @for (rol of (roles$ | async); track rol.idRol) {
        <mat-option [value]="rol.idRol">{{ rol.nombre }}</mat-option> }
        </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Estado*</mat-label>
        <mat-select formControlName="idEstado" required>
             @for (estado of (estados$ | async); track estado.idEstadoU) {
        <mat-option [value]="estado.idEstadoU">{{ estado.nombre }}</mat-option>}
        </mat-select>
        </mat-form-field>
    </div>

    </mat-dialog-content>

     <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" type="button">Cancelar</button>
    <button 
    mat-raised-button
    color="primary"
    [disabled]="userForm.invalid || isLoading"
    type="submit">
        Guardar Usuario
    </button>
     </mat-dialog-actions>
</form>