<h2 mat-dialog-title>
  <mat-icon class="mr-2 text-indigo-600">person_add</mat-icon>
  Registrar Nuevo Usuario
</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-dialog-content class="mat-typography">
    
    <div class="row-fields">
      <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input matInput formControlName="nombre" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido*</mat-label>
        <input matInput formControlName="apellido" required />
      </mat-form-field>
    </div>

    <div class="row-fields full-width">
      <mat-form-field appearance="outline">
        <mat-label>Email*</mat-label>
        <input matInput formControlName="email" type="email" required autocomplete="new-username"/>
      </mat-form-field>
    </div>

    <div class="row-fields full-width">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña*</mat-label>
        <input matInput formControlName="password" type="password" required autocomplete="new-password" />
      </mat-form-field>
    </div>

    <div class="row-fields">
      <mat-form-field appearance="outline">
        <mat-label>DNI*</mat-label>
        <input matInput formControlName="dni" type="number" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Legajo*</mat-label>
        <input matInput formControlName="legajo" type="text" required />
      </mat-form-field>
    </div>

    <div class="row-fields">
      <mat-form-field appearance="outline">
        <mat-label>Sector*</mat-label>
        <mat-select formControlName="idSector" required>
          <mat-option *ngFor="let sector of sectores$ | async; trackBy: trackByIdSector" [value]="sector.idSector">
            {{ sector.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cargo*</mat-label>
        <mat-select formControlName="idCargo" required>
          <mat-option *ngFor="let cargo of cargos$ | async; trackBy: trackByIdCargo" [value]="cargo.idCargo">
            {{ cargo.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row-fields">
      <mat-form-field appearance="outline">
        <mat-label>Rol*</mat-label>
        <mat-select formControlName="idRol" required>
          <mat-option *ngFor="let rol of roles$ | async; trackBy: trackByIdRol" [value]="rol.idRol">
            {{ rol.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado*</mat-label>
        <mat-select formControlName="idEstadoU" required>
          <mat-option *ngFor="let estado of estados$ | async; trackBy: trackByIdEstadoU" [value]="estado.idEstadoU">
            {{ estado.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" type="button">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="userForm.invalid || isLoading" type="submit">
      Guardar Usuario
    </button>
  </mat-dialog-actions>
  
  
</form>

