<div class="advanced-search-form">
  <form [formGroup]="advancedForm" (ngSubmit)="onSearch()">

    <h2 class="form-title">
      <mat-icon>tune</mat-icon>
      Búsqueda Avanzada
    </h2>

    <div class="form-container">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Título contiene</mat-label>
        <input matInput formControlName="titulo">
      </mat-form-field>

      <div class="form-row">
        <mat-form-field appearance="outline" class="flex-field">
          <mat-label>Número de Documento</mat-label>
          <input matInput formControlName="numDocumento">
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-field">
          <mat-label>Sector Emisor</mat-label>
          <mat-select formControlName="idSector">
            @for (sector of (sectores$ | async); track sector.idSector) {
              <mat-option [value]="sector.idSector">{{ sector.nombre }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="flex-field">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select formControlName="idTipoDocumento">
            @for (tipo of (tipos$ | async); track tipo.idTipoDocumento) {
              <mat-option [value]="tipo.idTipoDocumento">{{ tipo.nombre }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-field">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="idEstado">
            @for (estado of (estados$ | async); track estado.idEstado) {
              <mat-option [value]="estado.idEstado">{{ estado.nombre }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Palabras Clave (Autocomplete con Chips) -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Palabras Clave</mat-label>

        <mat-chip-grid #chipListPalabras aria-label="Palabras clave seleccionadas">
          <mat-chip
            *ngFor="let palabra of palabrasClaveSeleccionadas"
            [removable]="true"
            (removed)="removerPalabraClave(palabra)" 
          >
            {{ palabra.nombre }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-grid>

        <input
          #palabraClaveInput
          class="buscador-input"
          placeholder="Escriba para buscar o presione enter para agregar..."
          [formControl]="palabraClaveControl"
          [matChipInputFor]="chipListPalabras"
          [matAutocomplete]="autoPalabras"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)" 
        />

        <mat-autocomplete
          #autoPalabras="matAutocomplete"
          (optionSelected)="seleccionarPalabraClave($event)"
        >
          @for (palabra of palabrasClaveFilteradas$ | async; track palabra.idPalabraClave) {
            <mat-option [value]="palabra"(click)="$event.stopPropagation()">
              {{ palabra.nombre }}
            </mat-option>
          }
        </mat-autocomplete>

        <mat-hint>Busque y seleccione palabras clave (opcional)</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Excluir palabras</mat-label>
        <input matInput formControlName="excluirPalabras">
        <mat-hint>Separe las palabras con espacios</mat-hint>
      </mat-form-field>

      <div class="form-row">
        <mat-form-field appearance="outline" class="flex-field">
          <mat-label>Fecha Desde</mat-label>
          <input matInput
                [matDatepicker]="pickerDesde"
                formControlName="fechaDesde"
                placeholder="Seleccionar fecha inicial">
          <mat-datepicker-toggle matIconSuffix [for]="pickerDesde"></mat-datepicker-toggle>
          <mat-datepicker #pickerDesde></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-field">
          <mat-label>Fecha Hasta</mat-label>
          <input matInput
                [matDatepicker]="pickerHasta"
                formControlName="fechaHasta"
                placeholder="Seleccionar fecha final">
          <mat-datepicker-toggle matIconSuffix [for]="pickerHasta"></mat-datepicker-toggle>
          <mat-datepicker #pickerHasta></mat-datepicker>
          <mat-hint *ngIf="!advancedForm.get('fechaDesde')?.value">
            Primero seleccione fecha inicial
          </mat-hint>
        </mat-form-field>
      </div>

    </div>

    <div class="form-actions">
      <!-- <button mat-button type="button" (click)="onClear()">Limpiar Filtros</button> -->
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-flat-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
    </div>
  </form>
</div>
