<!--
  Se define la plantilla para el diálogo de inicio de sesión.
  Se utiliza una tarjeta de Angular Material para enmarcar el contenido.
-->
<div class="login-modal-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
      <mat-card-subtitle>Ingresá tus credenciales para acceder</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field color="primary" [appearance]="configService.formFieldAppearance" class="login-input-field">
          <mat-label>Correo electrónico o Legajo</mat-label>
          <input matInput formControlName="identifier" formControlName="identifier">
        </mat-form-field>

        <mat-form-field color="primary" [appearance]="configService.formFieldAppearance" class="login-input-field">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>

        @if (loginForm.hasError('invalidCredentials')) {
          <div class="form-error-message">
            {{ loginForm.errors?.['invalidCredentials'] }}
          </div>
        }

        <div class="login-options">
          <mat-slide-toggle color="primary">Recordarme</mat-slide-toggle>
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>

        <mat-card-actions>
          <button mat-flat-button color="primary" class="login-button" type="submit" [disabled]="isLoading">
            @if (!isLoading) {
              <span>Iniciar Sesión</span>
            } @else {
              <mat-spinner diameter="24"></mat-spinner>
            }
          </button>
        </mat-card-actions>

        <!-- Mensaje visible de error 
        <div *ngIf="mensajeError" class="form-error-message">
        {{ mensajeError }}
        </div> -->

      </form>
    </mat-card-content>
  </mat-card>
</div>