<!--
  Se define el contenedor principal del pie de página.
  Se organiza el contenido en secciones para información institucional y redes sociales.
-->
<footer class="footer-container">

  <!-- Sección de Información Institucional -->
  <div class="footer-section">
    <h3><mat-icon>home</mat-icon> Institución</h3>
    <!-- Se utiliza un contenedor de grilla para alinear los elementos en columnas. -->
    <div class="grid-container">
      <!--<a href="#" class="footer-item">-->
      <div class="footer-item">
        <mat-icon>location_on</mat-icon>
        <span>Dirección: Avda. de los Mineros 1260</span>
      </div>
      <!--</a>-->
      <!--<a href="#" class="footer-item">-->
      <div class="footer-item">
        <mat-icon>call</mat-icon>
        <span>Teléfono: (02902) 421 990</span>
      </div>
      <!--</a>-->
      <!--<a href="mailto:info@unpa.edu.ar" class="footer-item">
        <mat-icon>mail</mat-icon>
        <span>Mail: info@unpa.edu.ar</span>
      </a>-->
      <!-- TODO: Reemplazar el ícono de WhatsApp por uno personalizado si no se encuentra en la librería.
      <a href="#" class="footer-item">
        <mat-icon>whatsapp-logo</mat-icon>
        <span>Whatsapp</span>
      </a>-->
      <a href="https://www.uart.unpa.edu.ar/" target="_blank" class="footer-item">
        <mat-icon>language</mat-icon>
        <span>Web: www.uart.unpa.edu.ar</span>
      </a>
    </div>
  </div>

  <!-- Sección de Redes Sociales -->
  <div class="footer-section">
    <h3><mat-icon>mobile_friendly</mat-icon> Redes Sociales</h3>
    <div class="grid-container">
      <a href="https://web.facebook.com/UnidadAcademicaRioTurbio/" target="_blank" class="footer-item">
        <mat-icon>facebook</mat-icon>
        <span>Facebook</span>
      </a>
      <!-- TODO: Reemplazar los íconos de redes sociales por SVGs personalizados para unificar el estilo. -->
      <a href="https://www.instagram.com/uart_unpa/" target="_blank" class="footer-item">
        <mat-icon>photo_camera</mat-icon>
        <span>Instagram</span>
      </a>
      <!--<a href="#" target="_blank" class="footer-item">
        <mat-icon>x-logo</mat-icon>
        <span>X (Twitter)</span>
      </a>
      <a href="#" target="_blank" class="footer-item">
        <mat-icon>tiktok</mat-icon>
        <span>TikTok</span>
      </a>-->
      <a href="https://whatsapp.com/channel/0029Vb0ZuQgHVvTWTj9lI122" target="_blank" class="footer-item">
        <mat-icon>chat_bubble</mat-icon>
        <span>Canal WhatsApp</span>
      </a>
    </div>
  </div>

  <!-- Sección de Copyright -->
  <div class="copyright">
    © 2025 UNPA UART - Kosten.dev - Todos los derechos reservados
  </div>

</footer>
